@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  font-size: 13px;
  margin: 0;
}

body {
  margin: 0;
  background-color: #d3efd6;
  font-family: "IBM Plex Mono", monospace;
}
