@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap");

* {
  font-size: 16px;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #d3efd6;
  font-family: "IBM Plex Mono", monospace;
  --accent-color: #0000e6;
  --highlight-color: #eeee66;
  /* background-image: linear-gradient(#ccc 1px, transparent 1px); */
  /* background-size: 100% 24px; */
}

::selection {
  background-color: var(--highlight-color);
}

a,
a:visited {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin-top: 0;
  margin-bottom: 24px;
}
